aside.column.is-3.menu
    p.menu-label Documentation
    ul.menu-list
        li: a(href='./index.html') QSF developer guide
        li: ul.menu-list
            li: a(href='./index.html#required-fields') Required fields
            li: a(href='./index.html#form-submission') Form submission
            li: a(href='./index.html#code-example') Code example
        li: a(href='./advanced.html') Advanced topics
        li: ul.menu-list
            li: a(href='./advanced.html#autocomplete') Autocomplete
            li: a(href='./advanced.html#date-pickers') Date pickers
            li: a(href='./advanced.html#validation') Validation

    p.menu-label Examples
    ul.menu-list
        li: a(href='./basic-example.html') Basic
        //li: a(href='./multi-city-example.html') Multi-city
        //li: a(href='./locked-departure-example.html') Locked departure